extends ./layout/index

block contenido 
    main.container.mt-5     
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen Sobre Nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                
                blockquote  nullam. Nunc tempor dui in ex pharetra, a rhoncus urna malesuada. Integer tincidunt dignissim leo ac eleifend. Donec metus odio, imperdiet sed dolor eu, auctor malesuada nulla. Nulla tempus sem eget ultrices pharetra. In ultricies imperdiet luctus. Ut congue felis interdum, volutpat lacus non, imperdiet mi. Pellentesque feugiat, nibh et rutrum egestas, sem mi suscipit leo, non luctus purus odio vitae nisi.
                p se nisi quis maur sit amet metus sem. Fusce imperdiet enim et ex aliquam maximus. Fusce ut volutpat nibh, erit orci ornare varius vitae nec dui. Nam scelerisque ultricies augue mollis lacinia. Cras eu laoreet est, ut hendrerit leo. Nullam non odio diam. Fusce fermentum molestie nulla, et congue nisi hendrerit quis. Suspendisse dolor ante, dignissim sit amet pellentesque eget, pellentesque vel nisi. Phasellus est lacus, blandit eu neque elementum, sagittis viverra enim.
                p nibh ex,hac habitasse platea dictumst. In mi libero, varius non finibus quis, blandit et justo. Aenean a. In id mi mauris. Quisque suscipit congue nibh eu porta.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p nibh ex,hac habitasse platea dictumst. In mi libero, varius non finibus quis, blandit et justo. Aenean a. In id mi mauris. Quisque suscipit congue nibh eu porta.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p nibh ex,hac habitasse platea dictumst. In mi libero, varius non finibus quis, blandit et justo. Aenean a. In id mi mauris. Quisque suscipit congue nibh eu porta.

                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p nibh ex,hac habitasse platea dictumst. In mi libero, varius non finibus quis, blandit et justo. Aenean a. In id mi mauris. Quisque suscipit congue nibh eu porta.